.experience {
  padding-left: 15%;
  min-height: 60vh;
  padding-bottom: 5%;
}

.section-header {
  display: flex;
  padding-bottom: 42px;
  width: 100vw;
  align-items: baseline;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-bg);
}

.section-title {
  font-family: var(--font-ntr);
  color: var(--title);
  font-size: 46px;
  font-weight: bold;
}

.joblist-job-title {
  font-family: var(--font-ntr);
  font-size: 28px;
  font-weight: bold;
  color: var(--title);
}

.joblist-job-company {
  font-family: var(--font-ntr);
  font-size: 28px;
  color: var(--primary);
  font-weight: bold;
}

.joblist-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-ntr);
  font-size: 20px;
  font-weight: bold;
  color: var(--description);
}

#vertical-tabpanel {
  margin-top: -28px;
  padding-left: 25px;
}

.job-description li::before {
  content: "▹    ";
  color: var(--primary);
  position: absolute;
  left: 0;
}

.job-description li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 16px;
  font-size: 19px;
  color: var(--description);
}

.job-description {
  padding-top: 24px;
  max-width: 650px;
  font-family: var(--font-ntr);
  font-size: 20px;
}

.job-description a,
.job-description b {
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .experience {
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 5%;
  }

  .joblist-job-title {
    font-size: 22px;
  }

  .joblist-job-company {
    font-size: 22px;
  }

  .section-header {
    width: unset;
  }

  .section-header::after {
    display: none;
  }

  .section-title {
    font-size: 32px;
  }

  .joblist-info {
    font-size: 15px;
  }
}
