.Typist {
  color: var(--lightest-slate);
  text-align: start;
  font-size: 6.5vw;
  margin-top: -30px;
}

.Typist .Cursor--blinking {
  color: var(--green-bright);
  padding-left: 4px;
}

@media only screen and (max-width: 600px) {
  .Typist {
    font-size: 7vw;
  }
}
